/* CSS Variables */
:root {
    --dark: #2D2D3D;
    --light: #FFF;
    --darkOlive: #95A674;
    --lightOlive: #B5CA8D;
    --pink: #FFA68D;
    --shadow: 4px 4px 7px var(--dark);
}

/* Applied to All */
* {
    /* border: .1px solid var(--pink); */
    margin: 0px;
    padding: 0px;
    background-color: var(--light);
    box-sizing: border-box;
    font-family: "Montserrat";
    color: var(--dark);
}

/* Header Section */
header {
    background-color: var(--dark);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5px;
}

header * {
    background-color: var(--dark);
    color: var(--light);
    text-decoration: none;
    font-size: 12px;
}

#logo {
    margin-right: auto;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display:inline-block;
    padding: 0px 8px;
    text-decoration: none;
}

.nav-links li a{
    transition: color 1s ease;
    font-size: 16px;
}

.nav-links li a:hover {
    color: var(--darkOlive);
}

header button {
    color: var(--dark);
    background-color: var(--lightOlive);
    padding: 5px 20px;
    /* margin: 0px 10px; */
    border: 1px solid var(--dark);
    border-radius: 20px;
    transition: color 1s ease;
    transition: background-color .5s ease;
    margin: 0px 10px;
}

header button:focus {
    outline: none;
}

header button:hover {
    color: var(--lightOlive);
    background-color: var(--dark);
    cursor: pointer;
    border: 1px solid var(--lightOlive);
}

/* Main Welcome Section */
.main-section {
    display: grid;
    width: 80%;
    margin: 60px auto;
    grid-template-rows: repeat (3, fr);
    grid-template-columns: 3fr 1fr;
    align-items: flex-end;
    /* padding-bottom: 60px; */
}

.main-note h1 {
    font-size: calc(16px + 3vw);
    padding-left: 20px;
}

.main-note p {
    line-height: 25px;
    background-color: var(--light);
    color: var(--dark);
    text-align: left;
    padding-right: 70px;
}

.main-image img {
    max-width: 100%;
    max-height: 500px;
}

.main-image img:hover {
    animation: shake 2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotate(7deg) scale(1.1);
    }
    20% {
        transform: rotate(9deg) scale(1.1);
    }
    40% {
        transform: rotate(7deg) scale(1.1);
    }
    60% {
        transform: rotate(9deg) scale(1.1);
    }
    80% {
        transform: rotate(7deg) scale(1.1);
    }
    100% {
        transform: rotate(7deg) scale(1.1);
    }
}

.right-break {
    grid-area: right-break;
}

.bot-break {
    grid-area: bot-break;
}

/* Component Section */

.component-note {
    background-color: var(--dark);
    grid-area: component-note;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17vh;
}

.component-note h2, p {
    background-color: var(--dark);
    color: var(--darkOlive);
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}

/* Component Boxes Gid */
.component-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 75%;
    max-width: 1000px;
    padding: 50px;
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
}

.component-box {
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    transition: all .2s ease-in-out;
    height: 30vh;
    width: 30vh;
}
.component-box h4 {
    background-color: var(--dark);
    color: var(--lightOlive);
    padding: 10px;
    text-align: center;
}

.component-bg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

#the-glass {
    background-image: url('/img/glass-drawn.png'); 
}

#the-liqour {
    background-image: url('/img/gin-drawn.png'); 
}

#the-flavor {
    background-image: url('/img/flavor-drawn.png'); 
}

#the-ratio {
    background-image: url('/img/ratio-drawn.png'); 
}

#the-process {
    background-image: url('/img/process-drawn.png'); 
}

#the-garnish {
    background-image: url('/img/garnish-drawn.png'); 
}

.component-box:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 10px var(--darkOlive);
}

/* Types of Glass Section */
.the-glasses {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "trad-img trad-note"
    "stem-img stem-note"
    "coupe-img coupe-note"
    "zstem-img zstem-note"
    "nicnora-img nicnora-note";
    margin: 50px auto;
    width: 80%;
    grid-gap: 5vw;
}

.glass-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 200px;
}

.glass-notes {
    display: flex;
    flex-direction: column;
    line-height: 2.5vh;
    justify-content: center;
    border-bottom: 2px solid var(--dark);
}

.glass-notes h3 {
    margin-bottom: 10px;
    background-color: var(--light);
}

.glass-notes p {
    color: var(--dark);
    background-color: var(--light);
    text-align: left;
    padding: 5px 0;
}

#img-traditional {
    grid-area: trad-img;
    background-image: url("/img/the-glass-traditional.jpeg");
}

#note-traditional {
    grid-area: trad-note;
}

#img-stemless {
    grid-area: stem-img;
    background-image: url("/img/the-glass-stemless.jpg");
}

#note-stemless {
    grid-area: stem-note;
}

#img-coupe {
    grid-area: coupe-img;
    background-color: #FFF;
    background-image: url("/img/the-glass-coupe.jpg");
}

#note-coupe {
    grid-area: coupe-note;
}

#img-zstem {
    grid-area: zstem-img;
    background-image: url("/img/the-glass-zstem.jpg");
}

#note-zstem {
    grid-area: zstem-note;
}

#img-nicnora {
    grid-area: nicnora-img;
    background-image: url("/img/the-glass-nicnora.png");
}

#note-nicnora {
    grid-area: nicnora-note;
}

.glass-winner-break {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0;
    background-color: var(--dark);
}

.glass-winner-break h2 {
    background-color: var(--dark);
    color: var(--lightOlive);
    font-size: calc(12px + 4vw);
}

.the-winner {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "tour-img tour-note";
    margin: 50px auto;
    width: 80%;
    grid-gap: 5vw;
}

#img-tour {
    grid-area: tour-img;
    background-image: url("/img/the-glass-tour.jpg");
}

#note-tour {
    grid-area: tour-note;
    border: 0;
}

/* Footer Section */
.footer-bar {
    background-color: var(--dark);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
}

.footer-bar *{
    background-color: var(--dark);
    color: var(--lightOlive);
    max-height: 30px;
    padding: 0 10px;
}

.footer-bar .copyright {
    position: absolute;
    left: 0;
    font-size: 12px;
}

.footer-bar .copyright p {
    color: rgba(149,166,116,.5);
}

.social-media {
    display: flex;
    align-items: center;
}


@media (max-width: 900px) {
    .component-boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-note h1{
        display: inline;
    }
}

@media (max-width: 800px) {
    .main-image {
        display: none;
    }

    .main-section {
        grid-template-columns: 1fr;
    }

    .social-media p {
        display: none;
    }
}

@media (max-width: 600px) {
    .component-boxes {
        grid-template-columns: 1fr;
    }

    .copyright {
        display: none;
    }

    header {
        display: block;
    }

    header ul li{
        width: 100%;
        margin: 5px;
        text-align: center;
    }

    header #logo{
        display: block;
        margin: auto;
    }

    header button {
        margin-left: 43vw;
    }

    .the-glasses {
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "trad-img"
        "trad-note"
        "stem-img"
        "stem-note"
        "coupe-img"
        "coupe-note"
        "zstem-img"
        "zstem-note"
        "nicnora-img"
        "nicnora-note";
        margin: 0px auto;
        grid-gap: 0vw;
    }

    .the-winner {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "tour-img"
        "tour-note";
        margin: 0 auto;
        grid-gap: 0vw;
    }

    .glass-winner-break {
        margin-bottom: 50px;
    }
    
}